\:root
  --color-text: #1E1E1E
  --color-text-dimmed: #2C3E50
  --color-text-selection: #FFFFFF
  --color-text-alternative: #FFFFFF
  --color-text-selection-background: #1E1E1EF7
  --color-background: #FFFFFF
  --color-background-alternative: #F4F7F8
  --color-primary: #0052CC